{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            background-image: url('/bg.jpg');
            background-size: cover;
            padding-top: 5rem;
        }

        a {
            text-align: center;
        }

        .welcome {
            color: whitesmoke;
            text-align: center;
            opacity: 0.9;
        }

        .hs {
            padding: 2.5em;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container welcome">
        <div class="hs">
            <h1>Welcome to CHIRON</h1>
            <h6>manage users and upload .wav files to your database</h6>
        </div>

        <a href="/admin" class="btn btn-outline-secondary btn-lg">Dashboard</a>
    </div>
{% endblock %}

